{% extends 'base.html' %}
{% block title %}个人网上银行主页{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}

{% block content %}
{#    <div class="banner">#}
{#			<div class="wp">#}
{#				<div class="fl">#}
{#					<div class="imgslide">#}
{#						<ul class="imgs">#}
{#                            {% for banner in all_banners %}#}
{#                            <li>#}
{#                                    <a href="{{ banner.url }}">#}
{#                                        <img width="1200" height="478" src="{{ MEDIA_URL }}{{ banner.image }}" />#}
{##}
{#                                    </a>#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        <li>#}
{#                            <a href="#">#}
{#                                        <img width="1200" height="478" src="{{ MEDIA_URL }}/banner/2018/04/P020170914511774565240.jpg" />#}
{#                            </a>#}
{#                            <a href="#">#}
{#                                        <img width="1200" height="478" src="{{ MEDIA_URL }}/banner/2018/04/P020171221501583325912.jpg" />#}
{#                            </a>#}
{#                        </li>#}
{##}
{#						</ul>#}
{#					</div>#}
{#					<div class="unslider-arrow prev"></div>#}
{#					<div class="unslider-arrow next"></div>#}
{#				</div>#}
{##}
{#				</div>#}
{#			</div>#}
    <div class="banner">
			<div class="wp">
				<div class="fl">
					<div class="imgslide">
						<ul class="imgs">


                            <li>
                                    <a href="#">
                                        <img width="1200" height="350" src="{{ MEDIA_URL }}/banner/2018/04/P020170914511774565240.jpg" />
                                    </a>
                                </li>

                            <li>
                                    <a href="#">
                                        <img width="1200" height="350" src="{{ MEDIA_URL }}/banner/2018/04/P020171221501583325912.jpg" />
                                    </a>
                                </li>

                            <li>
                                    <a href="#">
                                        <img width="1200" height="350" src="{{ MEDIA_URL }}/banner/2018/04/P020180415546879058953.png" />
                                    </a>
                                </li>
						</ul>
					</div>
					<div class="unslider-arrow prev"></div>
					<div class="unslider-arrow next"></div>
				</div>

				</div>


			</div>
<!--banner end-->
<!--banner end-->
<!--feature start-->

<!--feature end-->
<!--module1 start-->

{% endblock %}


