{% extends 'usercenter-base.html' %}
{% block title %}账户余额- 个人网上银行{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>账户余额</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_content %}
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				{% if has_card %}
				<h1>{{ info }}您的卡号&nbsp;{{ request.user.user.card_id }}&nbsp;现余额为：{{ card.balance }}&nbsp;&nbsp;元</h1>
                    {% else %}
                    <h1>{{ message }}</h1>
				{% endif %}
			</div>
		</div>


	</div>
{% endblock %}


