{% extends 'usercenter-base.html' %}
{% block title %}转账- 个人网上银行{% endblock %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>转账</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_content %}
    <div class="right">
		<div class="personal_des ">
			<div class="head" style="border:1px solid #eaeaea;">
				<h1>行  内  转  账</h1>
			</div>
			<div class="inforcon">
				<form action="{% url 'users:transfer' %}" class="perinform"  autocomplete="off" method="post" onsubmit="return validate()">
					<ul class="right">
						<li>支&nbsp;付&nbsp;卡&nbsp;号&nbsp;：
                           <input type="text" name="from_cardid" readonly="readonly" id="from_cardid" value="{{ request.user.card.card_id }}" maxlength="11">
                            <i class="error-tips"></i>
                        </li>
                        <li>卡&nbsp;内&nbsp;余&nbsp;额&nbsp;：
                           <input type="text" name="balance" readonly="readonly" id="balance" value="{{ card.balance }}" maxlength="11">
                            <i class="error-tips"></i>
                        </li>
                        <li>收&nbsp;款&nbsp;卡&nbsp;号&nbsp;：
                           <input type="text" name="to_cardid"  id="to_cardid" placeholder="请输入收款卡号" maxlength="11">
                            <i class="error-tips"></i><font size="3" color="red">{{ message }}</font>
                        </li>

                        <li>交&nbsp;易&nbsp;金&nbsp;额&nbsp;：
                            <input type="text" name="trade_amount" id="trade_amount" placeholder="请输入交易金额" onblur="upperCase()"  maxlength="18">
                            <font size="3" color="red">{{ balance_error_info }}</font>
                        </li>

						<li class="button heibtn">
                            <input type="submit"  value="保存"/>
						</li>
					</ul>
                    {% csrf_token %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}


