{% extends 'usercenter-base.html' %}
{% block title %}销户 - 个人网上银行{% endblock %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>销  户</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_content %}
    <div class="right">
		<div class="personal_des ">
			<div class="head" style="border:1px solid #eaeaea;">
				<h1>注销成功 ！</h1>
			</div>
		</div>
	</div>
{% endblock %}


